doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Testing WP/Roots "
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css')
    != css('/')

  body
    nav
      a(href='/') Home
      each post in records.pages
        if post.title.rendered != "Home"
          a(href='/#{post.slug}') #{post.title.rendered}
    block content
      article(class='#{item.type}')
    != js('/')
